---
export interface Props {
  buttonText: string,
  className?: string,
  hoverClassName?: string,
  clickClassName?: string,
  isOutline?: boolean
}

const {
  buttonText = 'Default Text',
  className,
  isOutline = false
} = Astro.props
---

<button 
  type="button" 
  class={` transition duration-100 focus:ring-2 focus:outline-none focus:ring-current ${className} ease-linear p-2 w-fit cursor-pointer
  ${isOutline ? 'border-2 border-current bg-transparent text-current' : ''}`}>
  <p class="font-semibold">
    {buttonText}
  </p>
</button>