---
import Header from "./Partials/Header.astro";
import SiteConfig from '@/config/site.json';

export interface Props {
  title?: string,
  meta_title?: string,
  description?: string,
  favicon_image?: string
} 
const {
  title = SiteConfig.site.title, 
  meta_title = SiteConfig.site.title, 
  description = SiteConfig.site.description, 
  favicon_image = SiteConfig.site.favicon_image
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link 
    rel="icon" 
    type="image/scg+xml" 
    href={favicon_image}
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description}/>
  <title>{title}</title>
</head>
<body>
  <Header/>
  <slot/>
</body>
</html>